<?xml version="1.0"?>
<!-- Launch file for nodes required for GPS fusion into localization -->

<launch>

	<!-- Launch gps_common utm_odometry_node, which will output GPS fix in UTM coordinate frame -->
<!-- 	<node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node" required="true" output="screen" >
		<param name="child_frame_id" value="GPS_link" />
		<remap from="odom" to="odometry/utm"/>
	</node> -->

	<!-- Launch gps heading node, which publishes an IMU with orientations calculated using consecutive GPS coordinates -->
	<node pkg="boost_gps_heading" type="boost_gps_avg_heading_node" name="gps_heading_node" required="true" output="screen"/>
	<!-- <node pkg="boost_gps_heading" type="boost_gps_avg_heading_node" name="gps_heading_node" required="true" output="screen"/> -->

	<!-- Launch ukf_gps node, which publishes the map and the TF between the map and odom -->
	<!-- <include file="$(find boost_navigation)/launch/ukf_gps.launch"/> -->

	<!-- Launch navsat_transform node -->
	<!-- <include file="$(find boost_navigation)/launch/navsat_transform.launch" /> -->


<!-- ************************************************************************************************* -->
    <node pkg="robot_localization" type="ukf_localization_node" name="ukf_localization_gps" clear_params="true">
<!-- 
      <remap from="/odometry/filtered" to="/um7/imu/data"/> -->

      <!-- ======== STANDARD PARAMETERS ======== -->
      <param name="frequency" value="30"/>
      <param name="sensor_timeout" value="0.1"/>
      <param name="two_d_mode" value="true"/>

      <!-- Defaults to "map" if unspecified -->
      <param name="map_frame" value="map"/>
      <!-- Defaults to "odom" if unspecified -->
      <param name="odom_frame" value="odom/ukf_dead_reckoning"/>
      <!-- <param name="odom_frame" value="odom"/> -->
      <!-- Defaults to "base_link" if unspecified -->
      <param name="base_link_frame" value="base_link"/>
      <!-- Defaults to the value of "odom_frame" if unspecified -->
      <param name="world_frame" value="map"/>

      <!-- Use this parameter to provide an offset to the transform generated by ukf_localization_node. This
           can be used for future dating the transform, which is required for interaction with some other
           packages. Defaults to 0.0 if unspecified. -->
      <param name="transform_time_offset" value="0.0"/>

      <!-- The filter accepts an arbitrary number of inputs from each input message type (Odometry, PoseStamped,
           TwistStamped, Imu). To add a new one, simply append the next number in the sequence to its base name,
           e.g., odom0, odom1, twist0, twist1, imu0, imu1, imu2, etc. The value should be the topic name. These
           parameters obviously have no default values, and must be specified. -->
      <param name="odom0" value="wheel_encoder/odom"/>
      <!-- odometry/utm is output of utm_odometry_node, with only pose populated. Covariance for X and Y is ~1 when good signal (HDOP^2) -->
      <param name="odom1" value="/odometry/navsatTransformGPS"/>      
      <param name="imu0" value="um7/imu/data"/>
      <param name="imu0" value="gps/imu/data"/>

      <rosparam param="odom0_config">[false, false, false,
                                      false, false, false,
                                      true,  true, false,
                                      false, false, false,
                                      false, false, false]</rosparam>

      <rosparam param="odom1_config">[true, true, false,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false]</rosparam>



      <rosparam param="imu0_config">[false, false, false,
                                     false, false, false,
                                     false, false, false,
                                     false, false,  true,
                                     false, false,  false]</rosparam>

      <rosparam param="imu1_config">[false, false, false,
                                     false, false, true,
                                     false, false, false,
                                     false, false, false,
                                     false, false, false]</rosparam>


      <param name="odom0_differential" value="false"/>
      <param name="odom1_differential" value="false"/>
      <param name="imu0_differential" value="false"/>
      <param name="imu1_differential" value="false"/>


      <param name="odom0_relative" value="false"/>
      <param name="odom1_relative" value="false"/>
      <param name="imu0_relative" value="false"/>
      <param name="imu1_relative" value="false"/>




      <!-- The process noise covariance matrix can be difficult to tune, and can vary for each application, so it
           is exposed as a configuration parameter. The values are ordered as x, y, z, roll, pitch, yaw, vx, vy, vz,
           vroll, vpitch, vyaw, ax, ay, az. Defaults to the matrix below if unspecified. -->
  <!--     <rosparam param="process_noise_covariance">[6.25e-6, 0,     0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    6.25e-6,  0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    5.25e-6, 0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    4e-6, 0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    4e-6, 0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    5e-6, 0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    5e-6,   0,     0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     5e-6,   0,    0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0.05, 0,    0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0.01, 0,    0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0.01, 0,    0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0.02,  0,    0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0.01, 0,    0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0.01, 0,
                                                  0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0.015]</rosparam> -->

      <!-- This represents the initial value for the state estimate error covariance matrix. Setting a diagonal value (a
           variance) to a large value will result in early measurements for that variable being accepted quickly. Users should
           take care not to use large values for variables that will not be measured directly. The values are ordered as x, y,
           z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az. Defaults to the matrix below if unspecified. -->
<!--            <rosparam param="initial_estimate_covariance">[1e9,  0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                          0,    1e9,  0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                          0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                          0,    0,    0,    1e-9, 0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                          0,    0,    0,    0,    1e-9, 0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                          0,    0,    0,    0,    0,    1e3,  0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                          0,    0,    0,    0,    0,    0,    1e3,  0,    0,    0,     0,     0,     0,    0,    0,
                                                          0,    0,    0,    0,    0,    0,    0,    1e3,  0,    0,     0,     0,     0,    0,    0,
                                                          0,    0,    0,    0,    0,    0,    0,    0,    1e-9, 0,     0,     0,     0,    0,    0,
                                                          0,    0,    0,    0,    0,    0,    0,    0,    0,    1e-9,  0,     0,     0,    0,    0,
                                                          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     1e-9,  0,     0,    0,    0,
                                                          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     1e-9,   0,    0,    0,
                                                          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     1e-9, 0,    0,
                                                          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    1e-9, 0,
                                                          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    1e-9]</rosparam> -->




      <!--  By default, the node outputs an Odometry message with the topic name odometry/filtered. Uncomment and modify this
            line if you want the node to output to another topic-->
      <remap from="odometry/filtered" to="odometry/filtered/gps"/>

    </node>



    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">

      <param name="frequency" value="30"/>

      <!-- Delay time, in seconds, before we calculate the transform from the UTM frame to your
           world frame. This is especially important if you have use_odometry_yaw set to true.
           Defaults to 0. -->
      <param name="delay" value="3.0"/>
      <param name="magnetic_declination_radians" value="0"/>
      <param name="yaw_offset" value="0"/>
      <param name="zero_altitude" value="true"/>
      <param name="broadcast_utm_transform" value="true"/>
      <param name="publish_filtered_gps" value="true"/>
      <param name="use_odometry_yaw" value="true"/>
      <param name="wait_for_datum" value="false"/>

      <!-- Instead of using the first GPS location and IMU-based heading for the
      local-frame origin, users can specify the origin (datum) using this parameter.
      The fields in the parameter represent latitude and longitude in decimal degrees,
      and heading in radians. As navsat_transform_node assumes an ENU standard, a 0
      heading corresponds to east. -->
      <rosparam param="datum">[40.4425476617, -79.9433557617, 0.0, map, base_link]</rosparam>

      <!-- Placeholders for input remapping. Set your topic names as the "to" values. -->
      <remap from="/imu/data" to="gps/imu/data"/>
      <!-- <remap from="/imu/data" to="um7/imu/data"/> -->
      <remap from="/odometry/filtered" to="odometry/filtered/gps"/>
      <remap from="/gps/fix" to="fix"/>
     
      <!-- Placeholders for output remapping. -->
      <remap from="/odometry/gps" to="/odometry/navsatTransformGPS"/>
      <!-- <remap from="/gps/filtered" to=""/> -->
     

    </node>

</launch>