<?xml version="1.0"?>
<!--
*
*  \author     Tim Mueller-Sim <tmuellersim@cmu.edu>
*
* Redistribution and use in source and binary forms, with or without
* modification, are permitted.
*
-->

<launch>

    <!-- urdf xml robot description loaded on the Parameter Server-->
    <param name="robot_description" textfile="$(find boost_urdf)/robots/boost_stalker.urdf" />

    <!-- publish all the frames to TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" required="true" output="screen">
        <param name="publish_frequency" value="50"/> <!-- Hz -->
    </node>

    <!-- Stalker hardware driver -->
    <node pkg="stalker_base" type="stalker_base" name="stalker_base" output="screen">
<!--         <rosparam subst_value="true">
            port: $(arg port)

            control_frequency: 10.0
            diagnostic_frequency: 1.0

            max_acceleration: 3.0
            max_speed: 1.0
            wheel_diameter: 0.3555
            polling_timeout: 10.0
        </rosparam> -->
    </node>

    <!-- Differential controller parameters and basic localization -->
<!--     <include file="$(find husky_control)/launch/control.launch" /> -->

    <!--Teleop -->
<!--     <include file="$(find husky_control)/launch/teleop.launch" /> -->

    <!-- Diagnostic Aggregator -->
<!--     <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
        <rosparam command="load" file="$(find husky_base)/config/diagnostics.yaml"/>
    </node> -->

</launch>
