<?xml version="1.0"?>
<launch>

<!-- Start nmea_navsat_driver, see http://wiki.ros.org/nmea_navsat_driver -->
	<node pkg="nmea_navsat_driver" name="nmea_serial_driver" type="nmea_serial_driver" required="false" output="screen" >
		<param name="port" value="/dev/gps_usb_serial" />
		<param name="baud" value="115200" />
		<param name="frame_id" value="GPS_link" />
		<param name="useRMC" value="False" />
		<!-- <remap from="fix" to="gps/fix" /> -->
	</node>

<!-- Launch gps_common utm_odometry_node, which will output GPS fix in UTM coordinate frame -->
	<node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node" required="true" output="screen" >
		<param name="child_frame_id" value="GPS_link" />
		<remap from="odom" to="odometry/utm"/>
	</node>

<!-- Start base um7 driver, see http://wiki.ros.org/um7 -->

	<node pkg="um7" name="imu_um7_base_driver" type="um7_driver" required="true" output="screen" >
		<remap from="imu/data" to="um7/imu/data" />
		<remap from="imu/mag" to="um7/imu/mag" />
		<remap from="imu/rpy" to="um7/imu/rpy" />
		<remap from="imu/temperature" to="um7/imu/temperature" />
		<param name="port" value="/dev/imu_usb_serial" />
		<param name="frame_id" value="imu_link" />
		<param name="mag_updates" value="true" />
		<param name="zero_gyros" value="true" />
		<!-- <param name="covariance" value="1e9 1e9 1e9 1e9 1e9 0.5 1e9 1e9 1e9"/> -->
		<param name="covariance" value="1e9 0 0 0 1e9 0 0 0 0.025" />
		<!-- stdev is squared to get variance, default is 0.06 and 0.005, respectively -->
		<param name="linear_acceleration_stdev" value="0.06" />
		<param name="angular_velocity_stdev" value="0.005" />

	</node>

<!-- Start hokuyo node -->
<!-- 	<node pkg="hokuyo_node" name="hokuyo_node" type="hokuyo_node" respawn="true" output="screen" >
		<remap from="scan" to="scan/hokuyo" />
		<param name="frame_id" value="hokuyo" />
	</node> -->
	<!-- BROKEN =() -->

<!-- Publish TF for Hokuyo node -->
<!-- 	<node pkg="tf" type="static_transform_publisher" name="hokuyo_tf_static_broadcaster" args="-0.09525 0.0 1.994 3.14159 0.606708 0 base_link hokuyo 100" /> -->
	<node pkg="tf" type="static_transform_publisher" name="hokuyo_tf_static_broadcaster" args="-0.09525 0.0 1.994 3.14159 0.62 0 base_link hokuyo 100" />

<!-- Configure Xsens IMU -->
	<!-- <node pkg="xsens_driver" type="mtdevice.py" name="mtdevice" args="-f 100 -m 2 -x 42"  output="screen" /> -->
<!-- 	<node pkg="xsens_driver" type="mtdevice.py" name="mtdevice.py" args="-f 100 -m 3 -x 39"  output="screen" /> -->

	<node pkg="xsens_driver" type="mtnode.py" name="mtnode" respawn="true" output="screen" >
		<param name="device" value="/dev/xsens" />
		<param name="baudrate" value="115200" />
		<param name="frame_id" value="mti_imu_link" />
		<param name="frame_local" value="ENU" />
		<param name="frame_local_imu" value="ENU" />
	</node>

</launch>
