<?xml version="1.0"?>
<!-- Launch file to start nodes required for GPS line following -->

<launch>

	<!-- Launch gps_common utm_odometry_node, which will output GPS fix in UTM coordinate frame -->
<!-- 	<node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node" required="true" >
		<param name="child_frame_id" value="GPS_link" />
		<remap from="odom" to="odometry/utm"/>
	</node> -->

		<!-- Launch gps heading node, which publishes an IMU with orientations calculated using consecutive GPS coordinates -->
	<node pkg="boost_gps_heading" type="boost_gps_imu_publisher" name="gps_imu_publisher_node" required="false" output="screen"/>

	<!-- <node pkg="boost_gps_heading" type="boost_utm_avg_heading_service_node" name="gps_heading_service_node" output="screen"/> -->

	<!-- Launch ukf_odom node, which fuses the all the sensors into one translationally relative and orientationally absolute state estimate-->
	<!-- <include file="$(find boost_navigation)/launch/ukf_odom.launch"/> -->

	<!-- Launch coarse_gps_odometry node, which combines location in UTM coordinates with absolute orientation from robot_localization node above -->
	<node pkg="boost_coarse_gps_odometry" type="boost_coarse_gps_odometry_node" name="coarse_gps_odometry_node" output="screen">
		<param name="publish_tf" value="true" />
	</node>


	<node pkg="boost_nav_startup" type="utm_point_collector" name="utm_point_collector_node" output="screen">
	</node>


</launch>
